{% extends 'dashboard/base.html' %}
{% block contacts %}

<span class="heading mt-3">
    <center><h3 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    margin-top: 100px;
    margin-left: 10px;
    height: 60px;
    width: fit-content;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 10px;
    background-color:lightblue;
    border-radius: 10px;
    text-align: left;
    ">
     You Have Receieved this Message form {{ object.name }}  :
    </h3></center>
  </span>
  <center><div class="container mt-4" style="background-color: antiquewhite;
    height: fit-content;
    width: fit-content;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    margin-left: 630px;">
<p style="font-size: 20px;">  :-   {{  message.message }}</p> 
</div></center>

{% endblock %}
